textarea {
  display: block;
  background-color: transparent;
  border: 1px solid hsl(216deg 5% 40%);
  color: hsl(216deg 12% 92%);
  resize: none;
  height: auto;
  min-height: 6rem;
  line-height: 1.15;
  padding: 0.35rem 0.55rem;
  border-radius: 0.25rem;
  outline: none;
  width: 100%;
  margin: 0.25rem 0;
  overflow: auto;
  font-family: inherit;
  font-size: 100%;
}
