:root {
  --font-family: ui-sans-serif, system-ui, -apple-system, "BlinkMacSystemFont",
    "Segoe UI", "Roboto", "Helvetica Neue", "Arial", "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --bg: #121212;
  --fg: #fafafa;
}

@media (prefers-color-scheme: light) {
  :root {
    --fg: #121212;
    --bg: #fafafa;
  }
}

*,
::before,
::after {
  box-sizing: border-box;
}

html {
  background-color: var(--bg);
  font-family: var(--font-family);
  line-height: 1.5;
}

body {
  background-color: var(--bg);
  color: var(--fg);
  line-height: inherit;
  margin: 0;
}

#app.loading {
  opacity: 0.25;
  transition: opacity 200ms;
  transition-delay: 200ms;
}
